body{
    background-image: url(../images/3d-model-africa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.corps{
    margin-top: 30vh;
    margin-bottom: 6vh;
    min-height: 275px;

}

h1{
    color: white;
    padding-bottom: 10px;
}

.corps>a{
    text-decoration: none;
    color: rgb(12, 200, 200);
    font-size: 1.2em;
    font-family: verdana, helvetica, arial;

}

a>img:hover{
    border: 2px solid rgb(12, 200, 200);
    box-shadow: 2px 3px rgba(12, 200, 200, 0.185);
}