.range_un{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: 0 auto;
    padding: 35px 0px 35px 0px;
}
.element_corps{
    background-color: white;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.element_corps img{
    width: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.element_corps p{
    text-align: center;
    width: 75%;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 1.3em;
    color: #003399;
}

/* les elsup */
/*.elsup1, .elsup2{
    display: none;
}*/

.elsup1{
    z-index: 3;
    margin-right: -100px;
}
.elsup2{
    z-index: 2;
}
.elsup3{
    z-index: 1;
}

/* responsivité des composantes de la page */
@media screen and (max-width:980px) {
   .range_un{
    grid-template-columns: 1fr;
   }
}

