.range_un{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: 0 auto;
    padding: 35px 0px 35px 0px;
}
.element_corps{
    background-color: white;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.element_corps img{
    width: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.element_corps p{
    text-align: center;
    width: 75%;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 1.3em;
    color: #003399;
}