/** Comportement de toutes les balises **/
*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
    box-sizing: border-box;
}


/* personnalistion du scrollbar de la page */
html::-webkit-scrollbar{
    width: 5px;
    background-color: #3359a7;
}
html::-webkit-scrollbar-thumb{
    background: rgb(201, 149, 52);
    border-radius: 15px;
}

/* ***personnalisation de body (le corps du site) *******/
body{
    background-color: white;
}

/** Personnalistion du Header de la page **/
header{
    padding-top: 60px;
}

/** personnalisation du menu fixe **/
.top_head{
    padding: 10px;
    background-color: pink;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
}

.top_head_content{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

.top_head_content span{
    text-align: center;
}

.top_head_content span a{
    font-weight: bold;
    text-decoration: none;
}

.top_head_content img {
    width: 40px;
    border-radius: 50%;
}

/* menu en cascade */
.top_head_content1{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
}

.top_head_content1>span{
    text-align: right;
    padding-right: 25px;
}
.top_head_content1>span>span{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    float: right;
    width: 35px;
    cursor: pointer;
    padding: 3px;
}
.top_head_content1>span>span:hover{
    border: 1px solid #3359a7; 
    border-radius: 3px;
}
.top_head_content1>span>span hr{
    height: 5px;
    background-color: #3359a7;
    border: none;
}



.content_click{
    position: fixed;
    top: 0;
    right: 0;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #103785e0;
    padding: 10px 10px 10px 15px;
}
.content_click span{
    text-align: left;
    padding: 5px 30px 5px 30px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    border-left: 3px solid white;
}
.content_click span:hover{
    
    color: orange;
    border-left: none;
    border-right: 3px solid orange;
}
.content_click span:first-child{
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    border: none;
    padding: 5px;
}

.content_click span a{
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.content_click span a:hover{
    color: orange;
}

.top_head_content1 img {
    width: 40px;
    border-radius: 50%;
}

.top_head_content1{
    display: none;
}
.content_click{
    display: none;
}
/* mise en forme de la bar de menu pour la taille inférieur à 1000px */

/* responsivitée de la page ....*/

/********* ********************************/
.bottom_head{
    background-image: url("../images/arrplane.jpg");
    height: 550px;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom_head_cover{
    background-color: #1b54c58a;
    height: 550px;
    padding-top: 150px;
}

.bottom_head_cover>p:first-child{
    font-size: 10em;
    width: max-content;
    margin: 0 auto;
    color: orange;
    border-left: 4px solid orange;
    padding:20px 10px 20px 70px;
}
.bottom_head_cover>p:last-child{
    font-size: 1.8em;
    width: max-content;
    margin: 0 auto;
    color: orange;
    padding: 10px 5px;
}
/********* ********************************/
/********* ********************************/
/********* ********************************/
footer{
    background-color: pink;
    padding: 20px 0px 3px 0px;
}
.menus_footer{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding-bottom: 30px;
}

.menus_footer span{
    text-align: center;
}
.menus_footer span a{
    text-decoration: none;
    font-weight: bold;
}

.bottom_band_footer{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    padding-top: 5px;
}

.images_caeb{
    background-image: url("../images/image1.jpg");
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.images_caeb_cover{
    background-color: #1b54c57c;
    height: 500px;
    padding-top: 150px;
}

.images_caeb_cover>p:first-child{
    font-size: 10em;
    width: max-content;
    margin: 0 auto;
    color: orange;
    border-left: 4px solid orange;
    padding:20px 10px 20px 70px;
}
.images_caeb_cover>p:last-child{
    font-size: 1.8em;
    width: max-content;
    margin: 0 auto;
    color: orange;
    padding: 10px 5px;
}

/* responsivité de la page*/
@media screen and (min-width:1051px) {
    
}
@media screen and (max-width:1050px) {
    
    .bottom_head_cover>p:first-child{
        font-size: 5em;
    }
    .bottom_head_cover>p:last-child{
        width: 80%;
        text-align: center;
    }
    .images_caeb_cover>p:first-child{
        font-size: 5em;
    }
    .images_caeb_cover>p:last-child{
        width: 80%;
        text-align: center;
    }
}

@media screen and (min-width:981px) {
    .top_head .top_head_content{
        display: grid;
    }
    .top_head_content1{
        display: none;
    }
    .content_click{
        display: none;
    }
    #repons{
        display: none;
    }
}
@media screen and (max-width:980px) {
    .top_head .top_head_content{
        display: none;
    }

    .top_head_content1{
        display: grid;
    }
    #repons{
        display: grid;
    }
    .menus_footer{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
    .menus_footer span{
        text-align: left;
    }

}
@media screen and (max-width:400px) {
    .bottom_head_cover>p:first-child{
        font-size: 3em;
        padding:20px 10px 20px 30px;
    }
    .bottom_head_cover>p:last-child{
        font-size: 1.4em;
        padding-top: 40px;
    }
    .images_caeb_cover>p:first-child{
        font-size: 3em;
        padding:20px 10px 20px 30px;
    }
    .images_caeb_cover>p:last-child{
        font-size: 1.4em;
        padding-top: 40px;
    }
    .menus_footer{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }
    .menus_footer span{
        text-align: left;
    }
}
@media screen and (max-width:310px) {
    .bottom_head_cover>p:first-child{
        font-size: 2em;
        padding:20px 10px 20px 30px;
    }
    .bottom_head_cover>p:last-child{
        font-size: 1.4em;
        padding-top: 40px;
    }
    .images_caeb_cover>p:first-child{
        font-size: 2em;
        padding:20px 10px 20px 30px;
    }
    .images_caeb_cover>p:last-child{
        font-size: 1.4em;
        padding-top: 40px;
    }
}
@media screen and (max-width:235px) {
    .bottom_head_cover>p:first-child{
        font-size: 1.5em;
        padding:20px 10px 20px 20px;
    }
    .bottom_head_cover>p:last-child{
        font-size: 1em;
        padding-top: 30px;
    }
    .images_caeb_cover>p:first-child{
        font-size: 1.5em;
        padding:20px 10px 20px 20px;
    }
    .images_caeb_cover>p:last-child{
        font-size: 1.4em;
        padding-top: 30px;
    }
}

/* création de l'appanrence menu en cours */
.menus_appa{
    background-color: #003399;
    color: orange;
    padding: 5px 10px;
    border-radius: 3px;
}

.menus_appa_mobile{
    color: orange;
}

/* réitialisation des propriétés */

.reset{
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* Vous devrez modifier les quotes selon le langage de la page (ici il s'agit du Langage Français) */
    quotes : '201C' '201D' '2018' '2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
    }